 * {
            margin: 0;
            padding: 0;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            border-radius: 50px;
            background-color: black;
            /* background-color: brown; */
            /* overflow: hidden scroll; */
        }

        ul {
            background-color: black;
            color: rgb(241, 240, 250);
            list-style: none;
            display: flex;
            padding: 10px;
            /* border: 2px solid black; */
            margin: 5px;
        }

        li {
            text-decoration: none;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav{
            position: sticky;
            top: 0;
        }

        p {
            text-align: center;
        }

        .box1 {
            padding: 5px;
            margin: 5px;
            width: 1185px;
            height: 320px;
            /*border: 2px solid black;*/
            overflow: hidden;
        }

        .box1:hover {
            background-color: azure;
        }

        .box2 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box2:hover {
            background-color: azure;
        }

        .box3 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box3:hover {
            background-color: azure;
        }

        .box4 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 500px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box4:hover {
            background-color: azure;
        }

        .box5 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 500px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box5:hover {
            background-color: azure;
        }

        .box6 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box6:hover {
            background-color: azure;
        }

        .box7 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box7:hover {
            background-color: azure;
        }

        .box8 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box8:hover {
            background-color: azure;
        }

        .box9 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box9:hover {
            background-color: azure;
        }

        .box10 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 500px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box10:hover {
            background-color: azure;
        }

        .box11 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 500px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box11:hover {
            background-color: azure;
        }

        .box12 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box12:hover {
            background-color: azure;
        }

        .box13 {
            overflow: hidden;
            padding: 5px;
            margin: 5px;
            display: inline-block;
            width: 320px;
            height: 200px;
            /*border: 2px solid black;*/
        }

        .box13:hover {
            background-color: azure;
        }

        .foot {
            background-color: antiquewhite;
            text-align: center;
        }

        .aboutbox1 {
            padding: 50px;
            margin: 20px;
            width: 500px;
            height: 900px;
            /* border: 2px solid antiquewhite; */
            display: inline-block;
            color: antiquewhite;
            overflow: hidden;
        }

        .aboutbox2 {
            bottom: 40px;
            padding: 30px;
            margin: 20px;
            width: 500px;
            height: 300px;
            /* border: 2px solid antiquewhite; */
            display: inline-block;
            color: antiquewhite;

        }

        #about {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            padding: 20px;
        }
        #contact {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            padding: 20px;
        }

        /* .aboutbox1 {
  padding: 20px;
  margin: 20px;
  width: 250px;
  height: auto; /* remove fixed height */
        /* border: 2px solid antiquewhite; */
        /*  color: antiquewhite;
} */
        /* 
.aboutbox1 img {
  width: 100%;
  height: auto;
  display: block;
} */

        /* .aboutbox2 {
  padding: 30px;
  margin: 20px;
  width: 400px;
  height: auto; /* remove fixed height */
        /* border: 2px solid antiquewhite; */
        /* color: antiquewhite;
} */

        li:hover {
            cursor: pointer;
            background-color: blue;
        }

        li a:visited {
            color: aliceblue;
        }